body {
    padding: 0;
    margin: 0;
}

#hello {
    width: 800px;
    margin: 20px auto;
}

.hello {
    border-bottom: 1px solid #bbb;
    text-transform: uppercase;
    color: #567;

    &.hello__centered {    
        text-align: center;
    }
}