- var pageTitle = '<%= appName %>';

doctype html
html
    head
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title= pageTitle
        if isProduction
            link(src='/assets/css/app.min.css')

    body
        block page

        if isProduction
            script(type='text/javascript' src='/assets/js/vendors.min.js')
            script(type='text/javascript' src='/assets/js/app.min.js')
        else
            script(type='text/javascript' src='http://localhost:3001/webpack-dev-server.js')
            script(type='text/javascript' src='/assets/js/vendors.min.js')
            script(type='text/javascript' src='/assets/js/app.js')
            